/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2016, 5:09:35 PM
    Author     : Sandy
*/
@font-face {
    font-family: 'helveticaneue';
    src: url('fonts/helveticaneue.eot');
    src: url('fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
        url('fonts/helveticaneue.woff') format('woff'),
        url('fonts/helveticaneue.ttf') format('truetype'),
        url('fonts/helveticaneue.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*****************************************************************************************************/
header {
    width: 100%;
    height: 55px;
    background-color: #000080;
    z-index: 100;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Frutiger LT Arabic', sans-serif;
    line-height: 55px;
}
header .container{
    width:100%;
}
footer{
    background: #000080;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 55px;
    line-height: 55px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li.mainItems{
    float:left;
    margin-left: 15px;
}
.main-container{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

table thead{
    background-color: #eee;
    color: #000;
}
tbody {
    color: #555;
}

#dashboard tbody tr:nth-child(even), .summary tbody tr:nth-child(even), #combinedData tbody tr:nth-child(even){
    background-color: #eee
}
#dashboard tbody tr:hover, .summary tbody tr:hover, #combinedData  tbody tr:hover{
    background-color: #91bde2
}

.hidden{
    display: none;
}

.hidden .visiblityicon{ 
    width: 30px;
    background: url(images/show.png) no-repeat center;
    height: 28px;
    background-size: 25px 25px;
    cursor: pointer;
     display: block;
     float: left; 
}

.visiblityicon{ 
    width: 20px;
    background: url(images/hide.png) no-repeat center;
    height: 20px;
    background-size: 20px 20px;
    cursor: pointer;
    display: block;
    float: left; 
}
.sortAsc{
  width: 20px;
  background: url(images/down.png) no-repeat center;
  height: 20px;
  background-size: 20px 20px;
  cursor: pointer;
  display: block;
  float: left; 
  
}
.sortDesc{
    width: 20px;
    background: url(images/up.png) no-repeat center;
    height: 20px;
    background-size: 20px 20px;
    cursor: pointer;
    display: block;
    float: left; 
}

button{
    padding: 10px;
    border: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.buttons{
    float: right;
    margin-bottom: 20px;
}
.buttons button{
    margin-left: 10px;
}
.tab-header{
    background-color: #337ab7;
    color: #fff;
}
.columnNames{
    color: #006ac1;
    text-transform: uppercase;
}
.columnNames th{
     text-align: center;
}
.operations{
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}
#combineDataFilter{
    width: 42%;
    margin-left: auto;
    margin-right: auto;
}
#combineDataFilter button{
    margin-top: 25px;
}
#combineDataFilter .filter{
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.empty{
    text-align: center
}