<div class="container main-container">
	<div class="row">
		<div class="col-md-12">
			<div id="combineDataFilter">
				<div class="filter">
					<label>Combine By</label>
					<select #combine class="form-control" (change)="setCombine($event.target.value)">
					<option value="assignee">Assignee - Owner</option>
					<option value="timestamp">Timestamp</option>
				   </select>
				</div>
				<div  class="filter">
					<label>Jira Columns</label>
					<select #jiracols class="form-control" multiple="true" (change)="setSelected('jiracols', $event.target.options)">
                    <option value="issuetype">Issue Type</option>
					<option value="priority">Priority</option>
					<option value="components">Components</option>
					<option value="closed">Closed</option>
					<option value="open">Open</option>
					<option value="resolved">Resolved</option>
					<option value="inprogress">In progress</option>
			</select>
				</div>
				<div  class="filter">
					<label>SVN columns</label>
					<select #svncols class="form-control" multiple="true" (change)="setSelected('svncols', $event.target.options)">
					<option value="added">Added</option>
					<option value="churn">Churn</option>
                    <option value="code">Code</option>
                    <option value="comments">Comments</option>
                    <option value="file">File</option>
					<option value="modified">Modified</option>
                    <option value="removed">Removed</option>
                    <option value="sloc">Sloc</option>
                    <option value="type">Type</option>
					<option value="whitespace">Whitespace</option>
			</select>
				</div>
				<button type="button" class="bnt btn-primary btn-md" (click)="combineData(combine.options, jiracols.options, svncols.options)">Combine</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table *ngIf="rows.length > 0" class="table table-bordered" id="combinedData">
				<thead>
					<tr class="tab-header">
						<th colspan="99">Combined Data</th>
					</tr>
					<tr class="columnNames">
						<th *ngFor="let col of columns, let i = index">
							{{col}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let row of rows">
						<td *ngFor="let col of columns"> 
                           {{row[col]}}
                        </td>
					</tr>
				</tbody>
			</table>
			<div class="empty" *ngIf="rows.length == 0">No Data is found</div>
		</div>
	</div>

</div>