<div class="container main-container">
	<div class="row buttons">
		<div class="col-md-12">
			<button type="button" class="bnt btn-primary btn-md" (click)="resetFilters()">Reset filters</button>
			<button type="button" class="bnt btn-primary btn-md" (click)="showHiddenRows()">Show hidden columns</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered" id="dashboard">
				<thead>
					<tr class="tab-header">
						<th colspan="9">Jira Data</th>
					</tr>
					<tr class="columnNames">
						<th *ngFor="let col of columns, let i = index" [ngClass]="col.isVisible? '':'hidden' ">
							<label>{{col.name}}</label>
							<div class="operations">
								<a title="Hide column" class="visiblityicon" (click)="showAndHideColumn(i, col.isVisible)"></a>
								<a title="Ascending Order" class="sortAsc" (click)="sort(i, true)"></a>
								<a title="Descending Order" class="sortDesc" (click)="sort(i, false)"></a>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td *ngFor="let col of columns, let i = index" [ngClass]="col.isVisible? '':'hidden' " >
							<input title="Filter {{col.name}}" *ngIf="col.options.length == 0" id="filter{{i}}" type="text" class="form-control" value="" placeholder="filter {{col.name}}"
								(keyup)="filterAll()">
							<select *ngIf="col.options.length >0" id="filter{{i}}" class="form-control" (change)="filterAll()" title="select {{col.name}}">
							  <option value="none" selected disabled>- select -</option>
							  <option value="">- All -</option>
							  <option *ngFor="let option of col.options, let i = index" value="{{i}}">{{option}}</option>
							</select>
						</td>
					</tr>
					<tr *ngFor="let item of Data">
						<td [ngClass]="columns[0].isVisible? '': 'hidden' ">{{issueTypeList[item.issuetype]}}</td>
						<td [ngClass]="columns[1].isVisible? '': 'hidden' ">{{item.assignee}}</td>
						<td [ngClass]="columns[2].isVisible? '': 'hidden' ">{{priorityList[item.priority]}}</td>
						<td [ngClass]="columns[3].isVisible? '': 'hidden' ">{{item.timestamp}}</td>
						<td [ngClass]="columns[4].isVisible? '': 'hidden' ">{{item.components}}</td>
						<td [ngClass]="columns[5].isVisible? '': 'hidden' ">{{item.closed}}</td>
						<td [ngClass]="columns[6].isVisible? '': 'hidden' ">{{item.open}}</td>
						<td [ngClass]="columns[7].isVisible? '': 'hidden' ">{{item.resolved}}</td>
						<td [ngClass]="columns[8].isVisible? '': 'hidden' ">{{item.inprogress}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>