<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav>
					<ul class="clearfix">
						<li *ngFor="let item of menuItems" class="mainItems">
							<div [ngClass]="{'dropdown': true , 'active': isActiveTab(item.routelink)}" (click)="goto(item.routelink + item.routeParams)">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
                                   {{item.name}}
                                    <i *ngIf=" item.submenu.length"><span class="caret"></span></i>
                                </button>
								<ul *ngIf=" item.submenu.length " class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li *ngFor="let subitem of item.submenu" role="presentation">
										<a role="menuitem" tabindex="-1" (click)="goto(subitem.routelink + subitem.routeParams)">{{subitem.name}}</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>