<div class="container main-container">
	<div class="row buttons">
		<div class="col-md-12">
			<button type="button" class="bnt btn-primary btn-md" data-toggle="modal" data-target="#newSummary">Create New Summary</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table *ngFor="let summary of summaryList" class="table table-bordered summmary">
				<thead>
					<tr class="tab-header">
						<th colspan="2">Summary - {{summary.operation}}</th>
					</tr>
					<tr class="columnNames">
						<th width="50%">{{summary.groupbycolumn}}</th>
						<th width="50%">{{summary.operation}} - {{summary.columnname}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of summary.values">
						<td>{{item.groupbycolumn}}</td>
						<td>{{item.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Modal -->
	<div id="newSummary" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create New Summary</h4>
				</div>
				<div class="modal-body">
					<label>Operation</label>
					<select #operation>
					   <option value="max">Max</option>
					    <option value="min">Min</option>
						 <option value="avg">Avg</option>
				   </select>
					<label>Column Name</label>
					<select #columnname>
					   <option value="closed">Closed</option>
					    <option value="open">Open</option>
						 <option value="resolved">Resolved</option>
						  <option value="inprogress">In progress</option>
				   </select>
					<label>Group By</label>
					<select #groupbycolumn>
					   <option value="assignee">assignee</option>
					    <option value="issuetype">Issue Type</option>
						 <option value="priority">Priority</option>
						 <option value="components">Components</option>
				   </select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default confirm" data-dismiss="modal" (click)="createSummary(operation.value, columnname.value, groupbycolumn.value)">Create</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>

		</div>
	</div>
	<!-- End Modal  -->

</div>